<h2 class="text-center">Datenschutz</h2>
<small class="form-text text-muted text-center">So werden deine Daten behandelt</small>

<ul class="list-group mt-4">
    <li class="list-group-item">Deine Moodle-Anmeldedaten (Benutzername, Passwort) wird niemals gespeichert.</li>
    <li class="list-group-item">Sie werden nur benutzt um einen Token zu erzeugen, mit dem die Arbeitsaufträge aktualisiert werden 
        können.
        <small class="form-text text-muted">So sieht z.B. ein Token aus: <i>dk87t156mluzsmbw5n81qgkezbgqoc4g</i></small>
    </li>
    <li class="list-group-item">Da der Token eine Art Ersatz für das Passwort ist, kann dieser theoretisch dazu verwendet werden, 
        sich auf Moodle in deinem Namen anzumelden. Das wird natürlich niemals passieren, sollte aber gesagt werden.
    </li>
    <li class="list-group-item">Der Token hat nur eine begrenzte Haltbarkeitsdauer. Wenn dieser abläuft bekommst du eine Nachricht
        und wirst automatisch abgemeldet und deine Daten werden gelöscht.
    </li>
    <li class="list-group-item">Deine Telefonnummer & Token werden nur solange gespeichert wie nötig. Das heißt wenn du dich abmeldest wird 
        automatisch alles über dich gelöscht.
    </li>
</ul>