<h3 class="text-center mt-3">HPG Moodle Notifier  <span class="badge badge-secondary">New</span></h3>
<small class="form-text text-center text-muted mb-3">Bekomme Benachrichtigungen bei neuen Aufgaben über Signal!</small>
<a class="btn btn-primary btn-block mb-3" routerLink="/login" >Jetzt anmelden</a>

<ul class="list-group">
    <li class="list-group-item list-group-item-success"><b>Das brauchst du um dich anzumelden</b></li>
    <li class="list-group-item">Deine Moodle-Anmeldedaten (Benutzername & Passwort)</li>
    <li class="list-group-item">Deine Telefonnummer</li>
    <li class="list-group-item">Die App <a href="https://signal.org/download/" target="_blank" rel="noopener noreferrer">Signal</a></li>
</ul>
<hr>
<h5>Du willst wissen wie's funktioniert? 
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg> 
    <a routerLink="how-it-works">Hier lesen</a>
</h5>

<h5>Wie werden deine Daten behandelt?
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
   </svg> 
   <a routerLink="privacy">Hier lesen</a>
</h5>