<h2 class="text-center">Wie es funktioniert</h2>
<small class="form-text text-muted text-center mb-3">Alles was du wissen musst</small>
<p>
 Über die letzten Monate haben wir unsere Hausaufgaben und Arbeitsaufträge hauptsächlich
 über Moodle bekommen. Jedes Mal alle Fächer aufzurufen und nachzuschauen ob es neue
 Aufgaben gibt, wird irgendwann anstrengend. Der HPG Moodle Notifier tut genau das,
 er schaut immer mal wieder automatisch nach
, ob es neue Aufgaben gibt. Wenn es neue Aufgaben gibt, bekommt man eine
 Nachricht über den Messanger "Signal". 
</p>

<h4>Das brauchst du um dich anzumelden</h4>
<ul>
    <li>Deine Moodle-Anmeldedaten (Benutzername & Passwort)</li>
    <li>Deine Telefonnummer</li>
    <li>Die App <a href="https://signal.org/download/" target="_blank" rel="noopener noreferrer">Signal</a></li>
</ul>

<h4>Warum Signal? Wieso nicht WhatsApp oder Telegram?</h4>
<ul>
    <li>WhatsApp erlaubt keine Bots.</li>
    <li>Telegram hat einen schlechten Datenschutz, du solltest Telegram gar nicht benutzen!</li>
    <li>Es wird Signal benutzt, weil es ein sicherer Messenger ist. Sicherer als WhatsApp und Telegram.
        Am besten steigt man komplett auf Signal um.
    </li>
</ul>

<h4>Good to know</h4>
<ul>
    <li>
        Der Bot schaut alle 15 Minuten nach neuen Aufgaben
    </li>
    <li>
        Der Bot ist nur von 6-22 Uhr aktiv. Nachts werden meistens keine neuen Aufgaben bereitgestellt,
        es wäre also nur leerer Aufwand, trotzdem immer zu aktualisieren
    </li>
</ul>

<h4>Wie werden deine Daten behandelt?</h4>
Lies <a routerLink="/privacy">hier</a> mehr über Datenschutz und Privatsphäre.

